.main {
    width: 100%;
    display: grid;
    grid-column: 2 / 5;
    grid-row-start: 2;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px;
    grid-template-areas: " a a c"
                          "b d c";
}

.main .main-1{
    background-image: url('../assets/images/image-web-3-desktop.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: a;
}

.main .main-2 {
    grid-area: b;
    font-size: 45px;
}

.main .main-3 {
    grid-area: c;
    line-height: 2;
}

.main .main-4 {
    grid-area: d;
}

